# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint as pp

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = '../WeatherPy/city_data_REW.csv'
city_data_df = pd.read_csv(city_data)
city_data_df = city_data_df.dropna()
city_data_df

,City ID,City,Country,Date/Time,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
0,5122534,Jamestown,US,1595260173,42.10,-79.24,79.00,64,75,10.29
1,1056899,Sambava,MG,1595260010,-14.27,50.17,71.89,73,1,17.63
2,3874787,Punta Arenas,CL,1595260116,-53.15,-70.92,32.00,91,75,4.70
3,4505215,Amberley,US,1595260572,39.20,-84.43,87.01,65,1,3.36
4,1503796,Khandagayty,RU,1595260572,50.73,92.05,64.71,63,35,3.04
...,...,...,...,...,...,...,...,...,...,...
547,1054329,Vangaindrano,MG,1595260261,-23.35,47.60,65.73,64,77,3.40
548,2189343,Kaeo,NZ,1595260661,-35.10,173.78,55.00,3,63,4.50
549,488706,Staropavlovskaya,RU,1595260661,43.85,43.63,93.20,34,75,2.24
550,557710,Gvardeysk,RU,1595260661,54.65,21.07,71.60,68,75,4.47
551,1067565,Beloha,MG,1595260662,-25.17,45.05,63.37,71,0,12.77

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
#defining locations using Lat/Lng and humidity
locations = city_data_df[["Latitude", "Longitude"]].astype(float)
humidity = city_data_df["Humidity (%)"].astype(float)
#printing map and defining weights using Humidity
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#constructing new data frame with vacation parameters
vacation_city_df = city_data_df.loc[city_data_df["Wind Speed (MPH)"] < 10]
vacation_city_df = vacation_city_df.loc[(vacation_city_df["Temperature (F)"] < 80) | (vacation_city_df["Temperature (F)"] > 70) ]
vacation_city_df = vacation_city_df.loc[vacation_city_df["Cloudiness (%)"] == 0]
vacation_city_df = vacation_city_df.loc[vacation_city_df["Humidity (%)"] < 30]
if len(vacation_city_df) > 10:
    vacation_city_df = vacation_city_df[:-(len(vacation_city_df)-10)]
vacation_city_df

,City ID,City,Country,Date/Time,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
60,2520645,Cabra,ES,1595260580,37.47,-4.44,105.01,18,0,1.99
232,174448,Abu Kamal,SY,1595260609,34.45,40.92,106.03,7,0,9.66
263,1128239,Rūdbār,AF,1595260614,30.15,62.60,95.27,10,0,8.14
345,3388847,São Félix do Xingu,BR,1595260628,-6.64,-51.99,92.73,27,0,5.64
355,119115,Qūchān,IR,1595260630,37.11,58.51,79.93,19,0,8.93
411,3129371,Arroyo de la Encomienda,ES,1595260639,41.61,-4.80,96.01,14,0,5.82
422,2317397,Bandundu Province,CD,1595260243,-3.32,17.37,92.55,20,0,3.11
440,610298,Beyneu,KZ,1595260644,45.32,55.20,94.93,18,0,7.92
470,3359736,Vredendal,ZA,1595260649,-31.67,18.50,67.91,26,0,2.95

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#defining new data frame and adding hotel column
hotel_df = vacation_city_df
hotel_df["Hotel Name"] = ""
hotel_df

,City ID,City,Country,Date/Time,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Hotel Name
60,2520645,Cabra,ES,1595260580,37.47,-4.44,105.01,18,0,1.99,
232,174448,Abu Kamal,SY,1595260609,34.45,40.92,106.03,7,0,9.66,
263,1128239,Rūdbār,AF,1595260614,30.15,62.60,95.27,10,0,8.14,
345,3388847,São Félix do Xingu,BR,1595260628,-6.64,-51.99,92.73,27,0,5.64,
355,119115,Qūchān,IR,1595260630,37.11,58.51,79.93,19,0,8.93,
411,3129371,Arroyo de la Encomienda,ES,1595260639,41.61,-4.80,96.01,14,0,5.82,
422,2317397,Bandundu Province,CD,1595260243,-3.32,17.37,92.55,20,0,3.11,
440,610298,Beyneu,KZ,1595260644,45.32,55.20,94.93,18,0,7.92,
470,3359736,Vredendal,ZA,1595260649,-31.67,18.50,67.91,26,0,2.95,

In [8]:
#hitting google places API for hotel data
hotels = []
for i, row in hotel_df.iterrows():
    lat = row["Latitude"] 
    lng = row["Longitude"] 
    target_radius = 5000

    # set up a parameters dictionary
    params = {
        "location": f"{lat}, {lng}",
        "type": "lodging",
        "key": g_key,
        "radius": target_radius,
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    #row["Hotel Name"] = response["results"][0]["name"]
    try:
        hotels.append(response["results"][0]["name"])
    except(IndexError):
        hotels.append("No Hotels in Target Radius")
hotel_df["Hotel Name"] = hotels
hotel_df

,City ID,City,Country,Date/Time,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Hotel Name
60,2520645,Cabra,ES,1595260580,37.47,-4.44,105.01,18,0,1.99,MS Fuente Las Piedras
232,174448,Abu Kamal,SY,1595260609,34.45,40.92,106.03,7,0,9.66,محطة التلفاز
263,1128239,Rūdbār,AF,1595260614,30.15,62.60,95.27,10,0,8.14,No Hotels in Target Radius
345,3388847,São Félix do Xingu,BR,1595260628,-6.64,-51.99,92.73,27,0,5.64,Apart Hotel Rio Xingu
355,119115,Qūchān,IR,1595260630,37.11,58.51,79.93,19,0,8.93,Rayehe perfume shop
411,3129371,Arroyo de la Encomienda,ES,1595260639,41.61,-4.80,96.01,14,0,5.82,Hotel El Jardín de la Abadía
422,2317397,Bandundu Province,CD,1595260243,-3.32,17.37,92.55,20,0,3.11,Coja Color
440,610298,Beyneu,KZ,1595260644,45.32,55.20,94.93,18,0,7.92,NUR
470,3359736,Vredendal,ZA,1595260649,-31.67,18.50,67.91,26,0,2.95,Tharrakamma Guest House

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [10]:
# Add marker layer ontop of heat map
#Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))